/*
 * BrAPI
 * The Breeding API (BrAPI) is a Standardized RESTful Web Service API Specification for communicating Plant Breeding Data. BrAPI allows for easy data sharing between databases and tools involved in plant breeding.  <strong>General Reference Documentation</strong>  <a href=\"https://github.com/plantbreeding/API/blob/master/Specification/GeneralInfo/URL_Structure.md\">URL Structure</a>  <a href=\"https://github.com/plantbreeding/API/blob/master/Specification/GeneralInfo/Response_Structure.md\">Response Structure</a>  <a href=\"https://github.com/plantbreeding/API/blob/master/Specification/GeneralInfo/Date_Time_Encoding.md\">Date/Time Encoding</a>  <a href=\"https://github.com/plantbreeding/API/blob/master/Specification/GeneralInfo/Location_Encoding.md\">Location Encoding</a>  <a href=\"https://github.com/plantbreeding/API/blob/master/Specification/GeneralInfo/Error_Handling.md\">Error Handling</a>  <a href=\"https://github.com/plantbreeding/API/blob/master/Specification/GeneralInfo/Search_Services.md\">Search Services</a>  <a href=\"https://github.com/plantbreeding/API/blob/master/Specification/GeneralInfo/Asychronous_Processing.md\">Asynchronous Processing</a>
 *
 * OpenAPI spec version: 1.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.GermplasmSummaryListResponse;
import io.swagger.client.model.NewObservationDbIdsResponse;
import io.swagger.client.model.NewObservationUnitDbIdsResponse;
import io.swagger.client.model.NewObservationUnitRequest;
import io.swagger.client.model.NewObservationsRequest;
import io.swagger.client.model.NewObservationsRequestWrapperDeprecated;
import io.swagger.client.model.NewObservationsTableRequest;
import io.swagger.client.model.ObservationUnitPositionsResponse;
import io.swagger.client.model.ObservationUnitPositionsResponse1;
import io.swagger.client.model.ObservationUnitsResponse2;
import io.swagger.client.model.ObservationsResponse;
import io.swagger.client.model.SeasonsResponse;
import io.swagger.client.model.StudiesResponse;
import io.swagger.client.model.StudiesResponse1;
import io.swagger.client.model.StudyLayoutRequest;
import io.swagger.client.model.StudyObservationVariablesResponse;
import io.swagger.client.model.StudyObservationVariablesResponse1;
import io.swagger.client.model.StudyResponse;
import io.swagger.client.model.StudySearchRequest;
import io.swagger.client.model.StudySearchRequestDep;
import io.swagger.client.model.StudyTypesResponse;
import io.swagger.client.model.StudyTypesResponse1;
import io.swagger.client.model.SuccessfulSearchResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class StudiesApi {
    private ApiClient apiClient;

    public StudiesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public StudiesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for searchStudiesPost
     * @param body Study Search request (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call searchStudiesPostCall(StudySearchRequest body, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/search/studies";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "AuthorizationToken" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call searchStudiesPostValidateBeforeCall(StudySearchRequest body, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = searchStudiesPostCall(body, authorization, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Submit a search request for Studies
     * Get list of studies StartDate and endDate should be ISO8601 format for dates See Search Services for additional implementation details.
     * @param body Study Search request (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return SuccessfulSearchResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SuccessfulSearchResponse searchStudiesPost(StudySearchRequest body, String authorization) throws ApiException {
        ApiResponse<SuccessfulSearchResponse> resp = searchStudiesPostWithHttpInfo(body, authorization);
        return resp.getData();
    }

    /**
     * Submit a search request for Studies
     * Get list of studies StartDate and endDate should be ISO8601 format for dates See Search Services for additional implementation details.
     * @param body Study Search request (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return ApiResponse&lt;SuccessfulSearchResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SuccessfulSearchResponse> searchStudiesPostWithHttpInfo(StudySearchRequest body, String authorization) throws ApiException {
        com.squareup.okhttp.Call call = searchStudiesPostValidateBeforeCall(body, authorization, null, null);
        Type localVarReturnType = new TypeToken<SuccessfulSearchResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Submit a search request for Studies (asynchronously)
     * Get list of studies StartDate and endDate should be ISO8601 format for dates See Search Services for additional implementation details.
     * @param body Study Search request (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call searchStudiesPostAsync(StudySearchRequest body, String authorization, final ApiCallback<SuccessfulSearchResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = searchStudiesPostValidateBeforeCall(body, authorization, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SuccessfulSearchResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for searchStudiesSearchResultsDbIdGet
     * @param searchResultsDbId Permanent unique identifier which references the search results (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call searchStudiesSearchResultsDbIdGetCall(String searchResultsDbId, Integer page, Integer pageSize, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/search/studies/{searchResultsDbId}"
            .replaceAll("\\{" + "searchResultsDbId" + "\\}", apiClient.escapeString(searchResultsDbId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "AuthorizationToken" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call searchStudiesSearchResultsDbIdGetValidateBeforeCall(String searchResultsDbId, Integer page, Integer pageSize, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'searchResultsDbId' is set
        if (searchResultsDbId == null) {
            throw new ApiException("Missing the required parameter 'searchResultsDbId' when calling searchStudiesSearchResultsDbIdGet(Async)");
        }
        
        com.squareup.okhttp.Call call = searchStudiesSearchResultsDbIdGetCall(searchResultsDbId, page, pageSize, authorization, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get the results of a Studies search request
     * Get list of studies  StartDate and endDate should be ISO8601 format for dates  See Search Services for additional implementation details.
     * @param searchResultsDbId Permanent unique identifier which references the search results (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return StudiesResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StudiesResponse searchStudiesSearchResultsDbIdGet(String searchResultsDbId, Integer page, Integer pageSize, String authorization) throws ApiException {
        ApiResponse<StudiesResponse> resp = searchStudiesSearchResultsDbIdGetWithHttpInfo(searchResultsDbId, page, pageSize, authorization);
        return resp.getData();
    }

    /**
     * Get the results of a Studies search request
     * Get list of studies  StartDate and endDate should be ISO8601 format for dates  See Search Services for additional implementation details.
     * @param searchResultsDbId Permanent unique identifier which references the search results (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return ApiResponse&lt;StudiesResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StudiesResponse> searchStudiesSearchResultsDbIdGetWithHttpInfo(String searchResultsDbId, Integer page, Integer pageSize, String authorization) throws ApiException {
        com.squareup.okhttp.Call call = searchStudiesSearchResultsDbIdGetValidateBeforeCall(searchResultsDbId, page, pageSize, authorization, null, null);
        Type localVarReturnType = new TypeToken<StudiesResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the results of a Studies search request (asynchronously)
     * Get list of studies  StartDate and endDate should be ISO8601 format for dates  See Search Services for additional implementation details.
     * @param searchResultsDbId Permanent unique identifier which references the search results (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call searchStudiesSearchResultsDbIdGetAsync(String searchResultsDbId, Integer page, Integer pageSize, String authorization, final ApiCallback<StudiesResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = searchStudiesSearchResultsDbIdGetValidateBeforeCall(searchResultsDbId, page, pageSize, authorization, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StudiesResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for seasonsGet
     * @param seasonDbId The unique identifier for a season (optional)
     * @param season The term to describe a given season. Example \&quot;Spring\&quot; OR \&quot;May\&quot; OR \&quot;PlantingTime7\&quot; (optional)
     * @param year The 4 digit year of a season. Example \&quot;2017\&quot; (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call seasonsGetCall(String seasonDbId, String season, String year, Integer page, Integer pageSize, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/seasons";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (seasonDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("seasonDbId", seasonDbId));
        if (season != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("season", season));
        if (year != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("year", year));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "AuthorizationToken" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call seasonsGetValidateBeforeCall(String seasonDbId, String season, String year, Integer page, Integer pageSize, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = seasonsGetCall(seasonDbId, season, year, page, pageSize, authorization, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get the Seasons
     * Call to retrive all seasons in the database.  A season is made of 2 parts  - The primary year   - A term which defines a segment of the year.  This could be a traditional season, like \&quot;Spring\&quot; or \&quot;Summer\&quot;;  this could be a month, like \&quot;May\&quot; or \&quot;June\&quot;;  or this could be an arbitrary season name which is meaningful to the breeding program like \&quot;PlantingTime_3\&quot; or \&quot;Season E\&quot;
     * @param seasonDbId The unique identifier for a season (optional)
     * @param season The term to describe a given season. Example \&quot;Spring\&quot; OR \&quot;May\&quot; OR \&quot;PlantingTime7\&quot; (optional)
     * @param year The 4 digit year of a season. Example \&quot;2017\&quot; (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return SeasonsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SeasonsResponse seasonsGet(String seasonDbId, String season, String year, Integer page, Integer pageSize, String authorization) throws ApiException {
        ApiResponse<SeasonsResponse> resp = seasonsGetWithHttpInfo(seasonDbId, season, year, page, pageSize, authorization);
        return resp.getData();
    }

    /**
     * Get the Seasons
     * Call to retrive all seasons in the database.  A season is made of 2 parts  - The primary year   - A term which defines a segment of the year.  This could be a traditional season, like \&quot;Spring\&quot; or \&quot;Summer\&quot;;  this could be a month, like \&quot;May\&quot; or \&quot;June\&quot;;  or this could be an arbitrary season name which is meaningful to the breeding program like \&quot;PlantingTime_3\&quot; or \&quot;Season E\&quot;
     * @param seasonDbId The unique identifier for a season (optional)
     * @param season The term to describe a given season. Example \&quot;Spring\&quot; OR \&quot;May\&quot; OR \&quot;PlantingTime7\&quot; (optional)
     * @param year The 4 digit year of a season. Example \&quot;2017\&quot; (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return ApiResponse&lt;SeasonsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SeasonsResponse> seasonsGetWithHttpInfo(String seasonDbId, String season, String year, Integer page, Integer pageSize, String authorization) throws ApiException {
        com.squareup.okhttp.Call call = seasonsGetValidateBeforeCall(seasonDbId, season, year, page, pageSize, authorization, null, null);
        Type localVarReturnType = new TypeToken<SeasonsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the Seasons (asynchronously)
     * Call to retrive all seasons in the database.  A season is made of 2 parts  - The primary year   - A term which defines a segment of the year.  This could be a traditional season, like \&quot;Spring\&quot; or \&quot;Summer\&quot;;  this could be a month, like \&quot;May\&quot; or \&quot;June\&quot;;  or this could be an arbitrary season name which is meaningful to the breeding program like \&quot;PlantingTime_3\&quot; or \&quot;Season E\&quot;
     * @param seasonDbId The unique identifier for a season (optional)
     * @param season The term to describe a given season. Example \&quot;Spring\&quot; OR \&quot;May\&quot; OR \&quot;PlantingTime7\&quot; (optional)
     * @param year The 4 digit year of a season. Example \&quot;2017\&quot; (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call seasonsGetAsync(String seasonDbId, String season, String year, Integer page, Integer pageSize, String authorization, final ApiCallback<SeasonsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = seasonsGetValidateBeforeCall(seasonDbId, season, year, page, pageSize, authorization, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SeasonsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for studiesGet
     * @param commonCropName Common name for the crop associated with this study (optional)
     * @param studyType DEPRECATED in v1.3 - see \&quot;studyTypeDbId\&quot; (optional)
     * @param studyTypeDbId Filter based on study type unique identifier (optional)
     * @param programDbId Program filter to only return studies associated with given program id. (optional)
     * @param locationDbId Filter by location (optional)
     * @param seasonDbId Filter by season or year (optional)
     * @param trialDbId Filter by trial (optional)
     * @param studyDbId Filter by study DbId (optional)
     * @param germplasmDbIds DEPRECATED in v1.3 - see /search/studies (optional)
     * @param observationVariableDbIds DEPRECATED in v1.3 - see /search/studies (optional)
     * @param active Filter active status true/false. (optional)
     * @param sortBy Name of the field to sort by. (optional)
     * @param sortOrder Sort order direction. Ascending/Descending. (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call studiesGetCall(String commonCropName, String studyType, String studyTypeDbId, String programDbId, String locationDbId, String seasonDbId, String trialDbId, String studyDbId, List<String> germplasmDbIds, List<String> observationVariableDbIds, Boolean active, String sortBy, String sortOrder, Integer page, Integer pageSize, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/studies";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (commonCropName != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("commonCropName", commonCropName));
        if (studyType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("studyType", studyType));
        if (studyTypeDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("studyTypeDbId", studyTypeDbId));
        if (programDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("programDbId", programDbId));
        if (locationDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("locationDbId", locationDbId));
        if (seasonDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("seasonDbId", seasonDbId));
        if (trialDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("trialDbId", trialDbId));
        if (studyDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("studyDbId", studyDbId));
        if (germplasmDbIds != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "germplasmDbIds", germplasmDbIds));
        if (observationVariableDbIds != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "observationVariableDbIds", observationVariableDbIds));
        if (active != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("active", active));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (sortOrder != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "AuthorizationToken" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call studiesGetValidateBeforeCall(String commonCropName, String studyType, String studyTypeDbId, String programDbId, String locationDbId, String seasonDbId, String trialDbId, String studyDbId, List<String> germplasmDbIds, List<String> observationVariableDbIds, Boolean active, String sortBy, String sortOrder, Integer page, Integer pageSize, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = studiesGetCall(commonCropName, studyType, studyTypeDbId, programDbId, locationDbId, seasonDbId, trialDbId, studyDbId, germplasmDbIds, observationVariableDbIds, active, sortBy, sortOrder, page, pageSize, authorization, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get the Studies
     * Get list of studies  Implementation Notes  StartDate and endDate should be ISO8601 format for dates  See Search Services for additional implementation details.
     * @param commonCropName Common name for the crop associated with this study (optional)
     * @param studyType DEPRECATED in v1.3 - see \&quot;studyTypeDbId\&quot; (optional)
     * @param studyTypeDbId Filter based on study type unique identifier (optional)
     * @param programDbId Program filter to only return studies associated with given program id. (optional)
     * @param locationDbId Filter by location (optional)
     * @param seasonDbId Filter by season or year (optional)
     * @param trialDbId Filter by trial (optional)
     * @param studyDbId Filter by study DbId (optional)
     * @param germplasmDbIds DEPRECATED in v1.3 - see /search/studies (optional)
     * @param observationVariableDbIds DEPRECATED in v1.3 - see /search/studies (optional)
     * @param active Filter active status true/false. (optional)
     * @param sortBy Name of the field to sort by. (optional)
     * @param sortOrder Sort order direction. Ascending/Descending. (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return StudiesResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StudiesResponse studiesGet(String commonCropName, String studyType, String studyTypeDbId, String programDbId, String locationDbId, String seasonDbId, String trialDbId, String studyDbId, List<String> germplasmDbIds, List<String> observationVariableDbIds, Boolean active, String sortBy, String sortOrder, Integer page, Integer pageSize, String authorization) throws ApiException {
        ApiResponse<StudiesResponse> resp = studiesGetWithHttpInfo(commonCropName, studyType, studyTypeDbId, programDbId, locationDbId, seasonDbId, trialDbId, studyDbId, germplasmDbIds, observationVariableDbIds, active, sortBy, sortOrder, page, pageSize, authorization);
        return resp.getData();
    }

    /**
     * Get the Studies
     * Get list of studies  Implementation Notes  StartDate and endDate should be ISO8601 format for dates  See Search Services for additional implementation details.
     * @param commonCropName Common name for the crop associated with this study (optional)
     * @param studyType DEPRECATED in v1.3 - see \&quot;studyTypeDbId\&quot; (optional)
     * @param studyTypeDbId Filter based on study type unique identifier (optional)
     * @param programDbId Program filter to only return studies associated with given program id. (optional)
     * @param locationDbId Filter by location (optional)
     * @param seasonDbId Filter by season or year (optional)
     * @param trialDbId Filter by trial (optional)
     * @param studyDbId Filter by study DbId (optional)
     * @param germplasmDbIds DEPRECATED in v1.3 - see /search/studies (optional)
     * @param observationVariableDbIds DEPRECATED in v1.3 - see /search/studies (optional)
     * @param active Filter active status true/false. (optional)
     * @param sortBy Name of the field to sort by. (optional)
     * @param sortOrder Sort order direction. Ascending/Descending. (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return ApiResponse&lt;StudiesResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StudiesResponse> studiesGetWithHttpInfo(String commonCropName, String studyType, String studyTypeDbId, String programDbId, String locationDbId, String seasonDbId, String trialDbId, String studyDbId, List<String> germplasmDbIds, List<String> observationVariableDbIds, Boolean active, String sortBy, String sortOrder, Integer page, Integer pageSize, String authorization) throws ApiException {
        com.squareup.okhttp.Call call = studiesGetValidateBeforeCall(commonCropName, studyType, studyTypeDbId, programDbId, locationDbId, seasonDbId, trialDbId, studyDbId, germplasmDbIds, observationVariableDbIds, active, sortBy, sortOrder, page, pageSize, authorization, null, null);
        Type localVarReturnType = new TypeToken<StudiesResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the Studies (asynchronously)
     * Get list of studies  Implementation Notes  StartDate and endDate should be ISO8601 format for dates  See Search Services for additional implementation details.
     * @param commonCropName Common name for the crop associated with this study (optional)
     * @param studyType DEPRECATED in v1.3 - see \&quot;studyTypeDbId\&quot; (optional)
     * @param studyTypeDbId Filter based on study type unique identifier (optional)
     * @param programDbId Program filter to only return studies associated with given program id. (optional)
     * @param locationDbId Filter by location (optional)
     * @param seasonDbId Filter by season or year (optional)
     * @param trialDbId Filter by trial (optional)
     * @param studyDbId Filter by study DbId (optional)
     * @param germplasmDbIds DEPRECATED in v1.3 - see /search/studies (optional)
     * @param observationVariableDbIds DEPRECATED in v1.3 - see /search/studies (optional)
     * @param active Filter active status true/false. (optional)
     * @param sortBy Name of the field to sort by. (optional)
     * @param sortOrder Sort order direction. Ascending/Descending. (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call studiesGetAsync(String commonCropName, String studyType, String studyTypeDbId, String programDbId, String locationDbId, String seasonDbId, String trialDbId, String studyDbId, List<String> germplasmDbIds, List<String> observationVariableDbIds, Boolean active, String sortBy, String sortOrder, Integer page, Integer pageSize, String authorization, final ApiCallback<StudiesResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = studiesGetValidateBeforeCall(commonCropName, studyType, studyTypeDbId, programDbId, locationDbId, seasonDbId, trialDbId, studyDbId, germplasmDbIds, observationVariableDbIds, active, sortBy, sortOrder, page, pageSize, authorization, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StudiesResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for studiesSearchGet
     * @param studyType Filter based on study type e.g. Nursery, Trial or Genotype. (optional)
     * @param programDbId Program filter to only return studies associated with given program id. (optional)
     * @param locationDbId Filter by location (optional)
     * @param seasonDbId Filter by season or year (optional)
     * @param trialDbId Filter by trial (optional)
     * @param studyDbId Filter by study DbId (optional)
     * @param germplasmDbIds Filter studies where specified germplasm have been used/tested (optional)
     * @param observationVariableDbIds Filter studies where specified observation variables have been measured (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param active Filter active status true/false. (optional)
     * @param sortBy Sort order. Name of the field to sort by. (optional)
     * @param sortOrder Sort order direction. Ascending/Descending. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call studiesSearchGetCall(String studyType, String programDbId, String locationDbId, String seasonDbId, String trialDbId, String studyDbId, List<String> germplasmDbIds, List<String> observationVariableDbIds, Integer page, Integer pageSize, Boolean active, String sortBy, String sortOrder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/studies-search";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (studyType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("studyType", studyType));
        if (programDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("programDbId", programDbId));
        if (locationDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("locationDbId", locationDbId));
        if (seasonDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("seasonDbId", seasonDbId));
        if (trialDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("trialDbId", trialDbId));
        if (studyDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("studyDbId", studyDbId));
        if (germplasmDbIds != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "germplasmDbIds", germplasmDbIds));
        if (observationVariableDbIds != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "observationVariableDbIds", observationVariableDbIds));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
        if (active != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("active", active));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (sortOrder != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "AuthorizationToken" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call studiesSearchGetValidateBeforeCall(String studyType, String programDbId, String locationDbId, String seasonDbId, String trialDbId, String studyDbId, List<String> germplasmDbIds, List<String> observationVariableDbIds, Integer page, Integer pageSize, Boolean active, String sortBy, String sortOrder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = studiesSearchGetCall(studyType, programDbId, locationDbId, seasonDbId, trialDbId, studyDbId, germplasmDbIds, observationVariableDbIds, page, pageSize, active, sortBy, sortOrder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Search Studies (GET)
     * DEPRECATED in v1.3 - see GET /studies
     * @param studyType Filter based on study type e.g. Nursery, Trial or Genotype. (optional)
     * @param programDbId Program filter to only return studies associated with given program id. (optional)
     * @param locationDbId Filter by location (optional)
     * @param seasonDbId Filter by season or year (optional)
     * @param trialDbId Filter by trial (optional)
     * @param studyDbId Filter by study DbId (optional)
     * @param germplasmDbIds Filter studies where specified germplasm have been used/tested (optional)
     * @param observationVariableDbIds Filter studies where specified observation variables have been measured (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param active Filter active status true/false. (optional)
     * @param sortBy Sort order. Name of the field to sort by. (optional)
     * @param sortOrder Sort order direction. Ascending/Descending. (optional)
     * @return StudiesResponse1
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StudiesResponse1 studiesSearchGet(String studyType, String programDbId, String locationDbId, String seasonDbId, String trialDbId, String studyDbId, List<String> germplasmDbIds, List<String> observationVariableDbIds, Integer page, Integer pageSize, Boolean active, String sortBy, String sortOrder) throws ApiException {
        ApiResponse<StudiesResponse1> resp = studiesSearchGetWithHttpInfo(studyType, programDbId, locationDbId, seasonDbId, trialDbId, studyDbId, germplasmDbIds, observationVariableDbIds, page, pageSize, active, sortBy, sortOrder);
        return resp.getData();
    }

    /**
     * Search Studies (GET)
     * DEPRECATED in v1.3 - see GET /studies
     * @param studyType Filter based on study type e.g. Nursery, Trial or Genotype. (optional)
     * @param programDbId Program filter to only return studies associated with given program id. (optional)
     * @param locationDbId Filter by location (optional)
     * @param seasonDbId Filter by season or year (optional)
     * @param trialDbId Filter by trial (optional)
     * @param studyDbId Filter by study DbId (optional)
     * @param germplasmDbIds Filter studies where specified germplasm have been used/tested (optional)
     * @param observationVariableDbIds Filter studies where specified observation variables have been measured (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param active Filter active status true/false. (optional)
     * @param sortBy Sort order. Name of the field to sort by. (optional)
     * @param sortOrder Sort order direction. Ascending/Descending. (optional)
     * @return ApiResponse&lt;StudiesResponse1&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StudiesResponse1> studiesSearchGetWithHttpInfo(String studyType, String programDbId, String locationDbId, String seasonDbId, String trialDbId, String studyDbId, List<String> germplasmDbIds, List<String> observationVariableDbIds, Integer page, Integer pageSize, Boolean active, String sortBy, String sortOrder) throws ApiException {
        com.squareup.okhttp.Call call = studiesSearchGetValidateBeforeCall(studyType, programDbId, locationDbId, seasonDbId, trialDbId, studyDbId, germplasmDbIds, observationVariableDbIds, page, pageSize, active, sortBy, sortOrder, null, null);
        Type localVarReturnType = new TypeToken<StudiesResponse1>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search Studies (GET) (asynchronously)
     * DEPRECATED in v1.3 - see GET /studies
     * @param studyType Filter based on study type e.g. Nursery, Trial or Genotype. (optional)
     * @param programDbId Program filter to only return studies associated with given program id. (optional)
     * @param locationDbId Filter by location (optional)
     * @param seasonDbId Filter by season or year (optional)
     * @param trialDbId Filter by trial (optional)
     * @param studyDbId Filter by study DbId (optional)
     * @param germplasmDbIds Filter studies where specified germplasm have been used/tested (optional)
     * @param observationVariableDbIds Filter studies where specified observation variables have been measured (optional)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param active Filter active status true/false. (optional)
     * @param sortBy Sort order. Name of the field to sort by. (optional)
     * @param sortOrder Sort order direction. Ascending/Descending. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call studiesSearchGetAsync(String studyType, String programDbId, String locationDbId, String seasonDbId, String trialDbId, String studyDbId, List<String> germplasmDbIds, List<String> observationVariableDbIds, Integer page, Integer pageSize, Boolean active, String sortBy, String sortOrder, final ApiCallback<StudiesResponse1> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = studiesSearchGetValidateBeforeCall(studyType, programDbId, locationDbId, seasonDbId, trialDbId, studyDbId, germplasmDbIds, observationVariableDbIds, page, pageSize, active, sortBy, sortOrder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StudiesResponse1>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for studiesSearchPost
     * @param body Study Search request (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call studiesSearchPostCall(StudySearchRequestDep body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/studies-search";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "AuthorizationToken" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call studiesSearchPostValidateBeforeCall(StudySearchRequestDep body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = studiesSearchPostCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Search Studies (GET)
     * DEPRECATED in v1.3 - see /search/studies
     * @param body Study Search request (optional)
     * @return StudiesResponse1
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StudiesResponse1 studiesSearchPost(StudySearchRequestDep body) throws ApiException {
        ApiResponse<StudiesResponse1> resp = studiesSearchPostWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Search Studies (GET)
     * DEPRECATED in v1.3 - see /search/studies
     * @param body Study Search request (optional)
     * @return ApiResponse&lt;StudiesResponse1&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StudiesResponse1> studiesSearchPostWithHttpInfo(StudySearchRequestDep body) throws ApiException {
        com.squareup.okhttp.Call call = studiesSearchPostValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<StudiesResponse1>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search Studies (GET) (asynchronously)
     * DEPRECATED in v1.3 - see /search/studies
     * @param body Study Search request (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call studiesSearchPostAsync(StudySearchRequestDep body, final ApiCallback<StudiesResponse1> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = studiesSearchPostValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StudiesResponse1>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for studiesStudyDbIdGermplasmGet
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call studiesStudyDbIdGermplasmGetCall(String studyDbId, Integer page, Integer pageSize, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/studies/{studyDbId}/germplasm"
            .replaceAll("\\{" + "studyDbId" + "\\}", apiClient.escapeString(studyDbId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "AuthorizationToken" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call studiesStudyDbIdGermplasmGetValidateBeforeCall(String studyDbId, Integer page, Integer pageSize, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'studyDbId' is set
        if (studyDbId == null) {
            throw new ApiException("Missing the required parameter 'studyDbId' when calling studiesStudyDbIdGermplasmGet(Async)");
        }
        
        com.squareup.okhttp.Call call = studiesStudyDbIdGermplasmGetCall(studyDbId, page, pageSize, authorization, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get the Germplasm associated with a specific Study
     * Get the available Germplasm which are associated with this study
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return GermplasmSummaryListResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GermplasmSummaryListResponse studiesStudyDbIdGermplasmGet(String studyDbId, Integer page, Integer pageSize, String authorization) throws ApiException {
        ApiResponse<GermplasmSummaryListResponse> resp = studiesStudyDbIdGermplasmGetWithHttpInfo(studyDbId, page, pageSize, authorization);
        return resp.getData();
    }

    /**
     * Get the Germplasm associated with a specific Study
     * Get the available Germplasm which are associated with this study
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return ApiResponse&lt;GermplasmSummaryListResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GermplasmSummaryListResponse> studiesStudyDbIdGermplasmGetWithHttpInfo(String studyDbId, Integer page, Integer pageSize, String authorization) throws ApiException {
        com.squareup.okhttp.Call call = studiesStudyDbIdGermplasmGetValidateBeforeCall(studyDbId, page, pageSize, authorization, null, null);
        Type localVarReturnType = new TypeToken<GermplasmSummaryListResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the Germplasm associated with a specific Study (asynchronously)
     * Get the available Germplasm which are associated with this study
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call studiesStudyDbIdGermplasmGetAsync(String studyDbId, Integer page, Integer pageSize, String authorization, final ApiCallback<GermplasmSummaryListResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = studiesStudyDbIdGermplasmGetValidateBeforeCall(studyDbId, page, pageSize, authorization, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GermplasmSummaryListResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for studiesStudyDbIdGet
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call studiesStudyDbIdGetCall(String studyDbId, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/studies/{studyDbId}"
            .replaceAll("\\{" + "studyDbId" + "\\}", apiClient.escapeString(studyDbId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "AuthorizationToken" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call studiesStudyDbIdGetValidateBeforeCall(String studyDbId, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'studyDbId' is set
        if (studyDbId == null) {
            throw new ApiException("Missing the required parameter 'studyDbId' when calling studiesStudyDbIdGet(Async)");
        }
        
        com.squareup.okhttp.Call call = studiesStudyDbIdGetCall(studyDbId, authorization, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get the details for a specific Study
     * Retrieve the information of the study required for field data collection  An additionalInfo field was added to provide a controlled vocabulary for less common data fields.  Linked data  - Observation Variables: &#x60;&#x60;&#x60;/brapi/v1/studies/{studyDbId}/observationvariables&#x60;&#x60;&#x60;   - Germplasm: &#x60;&#x60;&#x60;/brapi/v1/studies/{studyDbId}/germplasm&#x60;&#x60;&#x60;   - Observation Units: &#x60;&#x60;&#x60;/brapi/v1/studies/{studyDbId}/observationunits&#x60;&#x60;&#x60;   - Layout: &#x60;&#x60;&#x60;brapi/v1/studies/{studyDbId}/layout&#x60;&#x60;&#x60;
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return StudyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StudyResponse studiesStudyDbIdGet(String studyDbId, String authorization) throws ApiException {
        ApiResponse<StudyResponse> resp = studiesStudyDbIdGetWithHttpInfo(studyDbId, authorization);
        return resp.getData();
    }

    /**
     * Get the details for a specific Study
     * Retrieve the information of the study required for field data collection  An additionalInfo field was added to provide a controlled vocabulary for less common data fields.  Linked data  - Observation Variables: &#x60;&#x60;&#x60;/brapi/v1/studies/{studyDbId}/observationvariables&#x60;&#x60;&#x60;   - Germplasm: &#x60;&#x60;&#x60;/brapi/v1/studies/{studyDbId}/germplasm&#x60;&#x60;&#x60;   - Observation Units: &#x60;&#x60;&#x60;/brapi/v1/studies/{studyDbId}/observationunits&#x60;&#x60;&#x60;   - Layout: &#x60;&#x60;&#x60;brapi/v1/studies/{studyDbId}/layout&#x60;&#x60;&#x60;
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return ApiResponse&lt;StudyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StudyResponse> studiesStudyDbIdGetWithHttpInfo(String studyDbId, String authorization) throws ApiException {
        com.squareup.okhttp.Call call = studiesStudyDbIdGetValidateBeforeCall(studyDbId, authorization, null, null);
        Type localVarReturnType = new TypeToken<StudyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the details for a specific Study (asynchronously)
     * Retrieve the information of the study required for field data collection  An additionalInfo field was added to provide a controlled vocabulary for less common data fields.  Linked data  - Observation Variables: &#x60;&#x60;&#x60;/brapi/v1/studies/{studyDbId}/observationvariables&#x60;&#x60;&#x60;   - Germplasm: &#x60;&#x60;&#x60;/brapi/v1/studies/{studyDbId}/germplasm&#x60;&#x60;&#x60;   - Observation Units: &#x60;&#x60;&#x60;/brapi/v1/studies/{studyDbId}/observationunits&#x60;&#x60;&#x60;   - Layout: &#x60;&#x60;&#x60;brapi/v1/studies/{studyDbId}/layout&#x60;&#x60;&#x60;
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call studiesStudyDbIdGetAsync(String studyDbId, String authorization, final ApiCallback<StudyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = studiesStudyDbIdGetValidateBeforeCall(studyDbId, authorization, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StudyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for studiesStudyDbIdLayoutGet
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call studiesStudyDbIdLayoutGetCall(String studyDbId, Integer page, Integer pageSize, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/studies/{studyDbId}/layout"
            .replaceAll("\\{" + "studyDbId" + "\\}", apiClient.escapeString(studyDbId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "AuthorizationToken" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call studiesStudyDbIdLayoutGetValidateBeforeCall(String studyDbId, Integer page, Integer pageSize, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'studyDbId' is set
        if (studyDbId == null) {
            throw new ApiException("Missing the required parameter 'studyDbId' when calling studiesStudyDbIdLayoutGet(Async)");
        }
        
        com.squareup.okhttp.Call call = studiesStudyDbIdLayoutGetCall(studyDbId, page, pageSize, authorization, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get the plot layout details for a specific Study
     * DEPRECATED in v1.3 - see &#x60;GET /studies/{studyDbId}/layouts&#x60; (pluralized)
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return ObservationUnitPositionsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ObservationUnitPositionsResponse studiesStudyDbIdLayoutGet(String studyDbId, Integer page, Integer pageSize, String authorization) throws ApiException {
        ApiResponse<ObservationUnitPositionsResponse> resp = studiesStudyDbIdLayoutGetWithHttpInfo(studyDbId, page, pageSize, authorization);
        return resp.getData();
    }

    /**
     * Get the plot layout details for a specific Study
     * DEPRECATED in v1.3 - see &#x60;GET /studies/{studyDbId}/layouts&#x60; (pluralized)
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return ApiResponse&lt;ObservationUnitPositionsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ObservationUnitPositionsResponse> studiesStudyDbIdLayoutGetWithHttpInfo(String studyDbId, Integer page, Integer pageSize, String authorization) throws ApiException {
        com.squareup.okhttp.Call call = studiesStudyDbIdLayoutGetValidateBeforeCall(studyDbId, page, pageSize, authorization, null, null);
        Type localVarReturnType = new TypeToken<ObservationUnitPositionsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the plot layout details for a specific Study (asynchronously)
     * DEPRECATED in v1.3 - see &#x60;GET /studies/{studyDbId}/layouts&#x60; (pluralized)
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param page Which result page is requested. The page indexing starts at 0 (the first page is &#x27;page&#x27;&#x3D; 0). Default is &#x60;0&#x60;. (optional)
     * @param pageSize The size of the pages to be returned. Default is &#x60;1000&#x60;. (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call studiesStudyDbIdLayoutGetAsync(String studyDbId, Integer page, Integer pageSize, String authorization, final ApiCallback<ObservationUnitPositionsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = studiesStudyDbIdLayoutGetValidateBeforeCall(studyDbId, page, pageSize, authorization, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ObservationUnitPositionsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for studiesStudyDbIdLayoutPut
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param body The request body for updateing a study layout (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call studiesStudyDbIdLayoutPutCall(String studyDbId, StudyLayoutRequest body, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/studies/{studyDbId}/layout"
            .replaceAll("\\{" + "studyDbId" + "\\}", apiClient.escapeString(studyDbId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "AuthorizationToken" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call studiesStudyDbIdLayoutPutValidateBeforeCall(String studyDbId, StudyLayoutRequest body, String authorization, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'studyDbId' is set
        if (studyDbId == null) {
            throw new ApiException("Missing the required parameter 'studyDbId' when calling studiesStudyDbIdLayoutPut(Async)");
        }
        
        com.squareup.okhttp.Call call = studiesStudyDbIdLayoutPutCall(studyDbId, body, authorization, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Update an existing Study with new layout details
     * DEPRECATED in v1.3 - see &#x60;PUT /studies/{studyDbId}/layouts&#x60; (pluralized)
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param body The request body for updateing a study layout (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return ObservationUnitPositionsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ObservationUnitPositionsResponse studiesStudyDbIdLayoutPut(String studyDbId, StudyLayoutRequest body, String authorization) throws ApiException {
        ApiResponse<ObservationUnitPositionsResponse> resp = studiesStudyDbIdLayoutPutWithHttpInfo(studyDbId, body, authorization);
        return resp.getData();
    }

    /**
     * Update an existing Study with new layout details
     * DEPRECATED in v1.3 - see &#x60;PUT /studies/{studyDbId}/layouts&#x60; (pluralized)
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param body The request body for updateing a study layout (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @return ApiResponse&lt;ObservationUnitPositionsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ObservationUnitPositionsResponse> studiesStudyDbIdLayoutPutWithHttpInfo(String studyDbId, StudyLayoutRequest body, String authorization) throws ApiException {
        com.squareup.okhttp.Call call = studiesStudyDbIdLayoutPutValidateBeforeCall(studyDbId, body, authorization, null, null);
        Type localVarReturnType = new TypeToken<ObservationUnitPositionsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update an existing Study with new layout details (asynchronously)
     * DEPRECATED in v1.3 - see &#x60;PUT /studies/{studyDbId}/layouts&#x60; (pluralized)
     * @param studyDbId Identifier of the study. Usually a number, could be alphanumeric. (required)
     * @param body The request body for updateing a study layout (optional)
     * @param authorization HTTP HEADER - Token used for Authorization   &lt;strong&gt;Bearer {token_string} &lt;/strong&gt; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call studiesStudyDbIdLayoutPutAsync(String studyDbId, StudyLayoutRequest body, String authorization, final ApiCallback<ObservationUnitPositionsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

[...]
